h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

.intro {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card {
  background-color: #586f7c
}

body {
  background-color: #b8dbd9;
  color: #f4f4f9
}

.jumbotron {
  background-color: #2f4550;
}

a {
  color: #f4f4f9
}